{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Komariani Video Games</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Material Design for Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet">
    <!-- Other Styles -->
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body class="px-5">
    <div class="row py-5">
        <div class="col-lg-12">
            <h1 class="text-center font-weight-bold">Komariani Video Games</h1>
        </div>
    </div>
    <div class="input-group md-form form-sm form-2 pl-0">
        <!-- Basic dropdown -->
        <button class="btn dropdown-toggle mr-4" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" id="dropdown-button" value="Game Title">Game Title</button>
        <div class="dropdown-menu" id="category-list">
          <a class="dropdown-item" href="#" id="contains_name">Game Title</a>
          <a class="dropdown-item" href="#" id="year">Released Year</a>
          <a class="dropdown-item" href="#" id="publisher">Publisher</a>
          <a class="dropdown-item" href="#" id="developer">Developer</a>
          <a class="dropdown-item" href="#" id="mode">Mode</a>
          <a class="dropdown-item" href="#" id="platform">Platform</a>
          <a class="dropdown-item" href="#" id="genre">Genre</a>
        </div>
        <input class="form-control my-0 py-1 black-border" type="text" placeholder="Search games" aria-label="Search" id="search_value">
        <div class="input-group-append" id="search-icon">
            <span class="input-group-text lighten-1" id="basic-text1"><i class="fa fa-search text-white mx-3"
            aria-hidden="true"></i></span>
        </div>
    </div>

    <div class="d-flex justify-content-center" id="spinner-container">
        <div class="spinner-border vertical-center" role="status" id="spinner"></div>
    </div>

    <nav aria-label="Page navigation example" id="pagination-content">
        <ul class="pagination justify-content-center">
            <li class="page-item" id="prev-page"><a class="page-link" href="#"> << Previous</a></li>
            <li class="page-item" id="next-page"><a class="page-link" href="#">Next >> </a></li>
        </ul>
    </nav>

    <!-- Accordion Template -->
    <div class="accordion py-1" id="accordionExample">
        <div class="card shadow-none">
            <div class="card-header border black-border" id="heading0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h2 class="mb-0" style="font-size: 20px;">
                    <div class="row">
                        <div class="col-10" id="game-title">Call of Duty</div>
                        <div class="col-2 text-right">More<i class="fa fas fa-chevron-circle-down mx-3"></i></div>
                    </div>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body border">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <table class="table table-bordered table-sm">
                                <tbody>
                                    <tr id="abstract-row">
                                    <td class="row-title font-weight-bold">Abstract</td>
                                    <td id="abstract-value"></td>
                                    </tr>
                                    <tr id="year-row">
                                    <td class="row-title font-weight-bold">Released Year</td>
                                    <td id="year-value" class="searchable"></td>
                                    </tr>
                                    <tr id="platform-row">
                                    <td class="row-title font-weight-bold">Computing Platform</td>
                                    <td id="platform-value" class="searchable">Mark</td>
                                    </tr>
                                    <tr id="genre-row">
                                    <td class="row-title font-weight-bold">Genre</td>
                                    <td id="genre-value" class="searchable">Mark</td>
                                    </tr>
                                    <tr id="designer-row">
                                    <td class="row-title font-weight-bold">Designer</td>
                                    <td id="designer-value">Mark</td>
                                    </tr>
                                    <tr id="developer-row">
                                    <td class="row-title font-weight-bold">Developer</td>
                                    <td id="developer-value" class="searchable">Mark</td>
                                    </tr>
                                    <tr id="mode-row">
                                    <td class="row-title font-weight-bold">Mode</td>
                                    <td id="mode-value" class="searchable">Mark</td>
                                    </tr>
                                    <tr id="publisher-row">
                                    <td class="row-title font-weight-bold">Publisher</td>
                                    <td id="publisher-value" class="searchable">Mark</td>
                                    </tr>
                                    <tr id="rating-row">
                                    <td class="row-title font-weight-bold">IGN Rating</td>
                                    <td id="rating-value">Mark</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="search-result"></div>
    <div class="d-flex justify-content-center">
        <p class="vertical-center" id="not-found">No results found.</p>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Material Design for Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript" src="{% static "js/search.js" %}"></script>
</body>
</html>