.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}
body {
	font-family: 'Montserrat', sans-serif;
}

.row-title {
	width: 15%;
}

#spinner-container {
  height: 250px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

#search-icon, #basic-text1, .btn {
	background-color: #D9708E!important;
}

.pagination > li > a:hover {
    color: white!important;
    background-color: #D9708E!important;
    border-color: #D9708E!important;
}

#spinner {
	color: #D9708E!important;
}

.card-body {
	background-color: #FBEBF0!important;
}

.accordion>.card>.card-header {
	margin-bottom: 0;
}

.card-header[aria-expanded=false] {
	background-color: #fff;
}

.card-header[aria-expanded=true] {
	border-color: #D9708E!important;
	border-width: 2px!important;
	background-color: #D9708E!important;
	color:	white;
}

table.table-bordered{
    border:1px solid black;
}

table.table-bordered > thead > tr > th{
    border:1px solid black;
}

table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

#pagination-content {
	margin-top: -250px;
}

#search-result {
	margin-bottom: 100px;
}

.searchable > a {
	color: blue!important;
}
